html {
    background-color: rgb(225, 177, 193);
    ;
}

body {
    /* width: 100vw; */
    /* height: calc(100vh - 3rem); */
    background-color: rgb(247, 236, 243);
    border: 1rem solid rgb(225, 177, 193);
    border-radius: 2rem;
}

.movie-wrapper {
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.4rem;

    article {
        background-color: rgb(249, 248, 245);
        padding: 2rem;
        border-radius: 2rem;
    }
}