html {
    background-color: rgb(225, 177, 193);
}

body {
    /* width: 100vw; */
    /* height: calc(100vh - 3rem); */
    background-color: rgb(247, 236, 243);
    border: 1rem solid rgb(225, 177, 193);
    border-radius: 2rem;
    text-wrap: pretty;
}

.wrapper {
    display: flex;
    position: relative;

    .movie-wrapper {
        width: 60vw;
        margin: 2rem 0rem 2rem 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
        gap: 1.4rem;

        .movie-card {
            background-color: rgb(249, 248, 245);
            padding: 2rem;
            border-radius: 2rem;
        }

        .movie-card.active {
            border: 2px dashed pink;
            /* border-style: inset; */

        }

        .movie-card.hover {
            box-shadow: 1px 1px 10px 1px rgb(210, 192, 207);
        }
    }

    .single-movie {
        width: 30vw;
        height: 50rem;
        position: sticky;
        top: 3.5rem;
        background-color: rgb(251, 249, 251);
        margin: 1rem 2rem 5rem 2rem;
        border-radius: 2rem;
        box-shadow: 1px 1px 10px 1px rgb(210, 192, 207);
        /* height: 30rem; */
    }
}